.itemStyle{
    background-color: rgb(238, 237, 237);
    color: black;
    padding: '1px';
    border-bottom: '1px #ff686d solid';
    text-align: left;
    border: 1px solid #4CAF50;
    width: '100%';
}

