
/* General */
.App {
  text-align: center;
}

/* Header */
.App-header {
  background-color: #1B4E8D;
  height: 60px;
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.Header-Logo {
  padding: 18px;
  margin-left: 25px;
}

.Header-Input {
  width: 300px;
}

.Header-icon {
  height: 50px;
  float: right;
  margin-right: 25px;
}

.Header-Fill {
  flex-grow: 1;
  min-width: 10%;
}

.Header-Username {
  padding: 18px 6px 18px 6px;
  margin-right: 24px;
}