
/* General */
.App {
  text-align: center;
  justify-content: center;
  height: 100%;
}

.App-Container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
}

.app-columns {
  width: 33%;
}

.box {
  background-color: grey;
  padding: 10px;
  margin: 10px;
  height: 100px;
}

.page-container {
  display: flex;
  width: 100%;
}

.page-main {
  width: 70%;
  color: grey;
  padding: 15px;
}

.page-sidebar {
  width: 30%;
  color: grey;
  padding: 15px;
}

/* Header */
.app-header {
  background-color: #20232a;
  height: 60px;
  padding: 10px 5px;
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  padding: 18px;
  margin-left: 25px;
}

.header-logo img {
  height: 50px;
  border-radius: 5px;
}

.circle-holder {
  background-color:white;
  border-radius:50%;
  height: 50px;
  width: 50px;
  margin: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  padding: 8px;
  border-radius: 5px;
  background: rgba(255,255,255,0.4);
  border: none;
  color: white;
  font-weight: bold;
}

.follower-search-btn {
  background-color: lightgrey;
  color: white;
  font-weight: bold;
}

.header-input {
  width: 300px;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  margin-right: 15px;
}

.Header-icon {
  height: 50px;
  float: right;
}

.Header-icon-smaller {
  height:35px;
}

.Header-Fill {
  flex-grow: 1;
  min-width: 10%;
}

.Header-Username {
  padding: 18px 6px 18px 6px;
  margin-right: 24px;
}

/* Timeline */

.Timeline {
  width: 33%;
  Height: 100%;
  align-content: center;
  background: grey;
}

/* Profile */

.header-profile {
  color: white;
  display: flex;
  align-items: center;
}

.header-profile img {
  border-radius: 50%;
  height: 50px;
}

.header-profile a {
  color: white;
  text-decoration: none;
}

.profile-background {
  height: 200px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.profile-user {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.img-container {
  position: relative;
  top: 0;
  left: 0;
}

.graph-container {
  height: 450px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.stockinfo-symbol {
  height: 70px;
}

.stockinfo-container {
  display: flex;
  width: 100%;
}

.stockinfo-card {
  width: 33%;
  padding: 15px;
}

.home-card {
  margin: 20px;
  height: 100%;
  padding-top: 20px;
  border: 1px lightgrey solid;
  border-radius: 15px;

  .home-card-subtitle {
    font-size: 14px;
    margin: 20px;
    color: grey;
  }

  h3 {
    text-transform: uppercase;
  }

  .empty-item-list {
    padding-top:15%;
  }

  .follow-btn {
    background: #7daae3;
    border: none;
    color: white;
    width: 250px;
  }

}
