
/* General */
.App {
  text-align: center;
  justify-content: center;
  height: 100%;
}

.App-Container {
  display: flex;
  justify-content: center;
}

.app-columns {
  width: 33%;
}

.box {
  background-color: grey;
  padding: 10px;
  margin: 10px;
  height: 100px;
}

.page-container {
  display: flex;
  width: 100%;
}

.page-main {
  width: 70%;
  color: grey;
  padding: 15px;
}

.page-sidebar {
  width: 30%;
  color: grey;
  padding: 15px;
}

/* Header */
.App-header {
  background-color: #1B4E8D;
  height: 60px;
  display: flex;
  color: white;
  justify-content: flex-start;
  align-items: center;
}

.Header-Logo {
  padding: 18px;
  margin-left: 25px;
}

.Header-Input {
  width: 300px;
}

.Header-icon {
  height: 50px;
  float: right;
  margin-right: 25px;
}

.Header-Fill {
  flex-grow: 1;
  min-width: 10%;
}

.Header-Username {
  padding: 18px 6px 18px 6px;
  margin-right: 24px;
}

/* Timeline */

.Timeline {
  width: 33%;
  Height: 100%;
  align-content: center;
  background: grey;
}

/* Positions */

.position-row {
  display: flex;
  justify-content: space-between;
  color: black;
}

/* Profile */

.profile-background {
  height: 200px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.profile-user {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.img-container {
  position: relative;
  top: 0;
  left: 0;
}

.graph-container {
  border: solid;
  height: 450px;
  width: 100%
}

.stockinfo-symbol {
  height: 70px;
}

.stockinfo-container {
  display: flex;
  width: 100%;
}

.stockinfo-card {
  width: 33%;
  padding: 15px;
}