.img-container {
    z-index: -1;
}

.profile-user-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: black 5px solid;
    background-color: white;
}

.profile-header-bar {
    display: inline-flex;
    align-items: center;
    margin-top: -60px;
    padding-left: 50px;

    h1 {
        margin-left: 20px;
    }

    button {
        margin-left: 20px;
    }
}

.piechart-holder {
    display: flex;
    justify-content: center;
}

.user-follow {
    margin-left: 50px;
}

.home-card{
    overflow: hidden;
    position: relative;
    height: 500px;
    text-align:center;
}

.feed-box{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    margin-top: 70px;
}