.buy-sell-stock {
    border: 1px solid rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 5px;

    .button-holder {
        margin-bottom: 10px;

        button {
            width: 45%;
            margin: 5px 2.5%;
            border: none;
            padding: 10px;
            color: rgba(0,0,0,0.5);
            border-bottom: 3px solid rgba(0,0,0,0.5);
            transition: all 200ms ease;
            font-size: 15px;
            outline: none;
            cursor: default;

            &.active {
                font-weight: bold;
                font-size: 16px;
                color: #1B4E8D;
                border-bottom: 3px solid #1B4E8D;
            }
        }
    }
    
    .hide {
        display: none;
    }

    .action {
        text-transform:capitalize;
    }

    label {
        margin-top: 5px;
    }

    .Dropdown-control {
        margin: 5px auto 15px;
    }

    input {
        position: relative;
        overflow: hidden;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
        color: #333;
        cursor: default;
        outline: none;
        padding: 8px 8px 8px 10px;
        transition: all 200ms ease;
        margin: 5px auto 15px;
        width: 100%;
    }

    .inline-elements {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .action-button-container {
        display: flex;
        justify-content: space-evenly;
    }

    .button-lrg {
        border: none;
        padding: 10px;
        color: white;
        border-radius: 10px;
        margin: 0 5px;

        &.primary {
            background: #1B4E8D;
        }

        &.action {
            background: grey;
        }
    }
}